fullnameOverride: users

deployment:
  replicas: 2
  appImage: 
    repository: vikonopleva/users
  appPort: 8000

service:
  appPort: 8000
  serviceType: ClusterIP

postgresql:
  enabled: true
  global:
    postgresql:
      # enabled: true
      auth:
        postgresPassword: vika
  primary:
    extendedConfiguration: |
      max_connections=200
    resources:
      limits: 
        memory: "1Gi"
      requests:
        memory: "1Gi"
    initdb:
      scripts:
        init.sql: |
          CREATE SCHEMA IF NOT EXISTS USERS;
          CREATE SCHEMA IF NOT EXISTS ORDERS;
          CREATE SCHEMA IF NOT EXISTS BILLING;
          CREATE SCHEMA IF NOT EXISTS DELIVERY;
          CREATE SCHEMA IF NOT EXISTS WAREHOUSE;
          CREATE SCHEMA IF NOT EXISTS NOTIFICATIONS;
  
metrics:
  serviceMonitor:
    enabled: true
